In [1]:
import numpy as np
import pandas as pd
from sklearn.utils import shuffle
from nltk.tokenize import RegexpTokenizer
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from tensorflow.keras.preprocessing import sequence
import re
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [2]:
from tensorflow.keras.models import Model
from tensorflow.keras.layers import SimpleRNN,Dense,Input,Embedding

In [3]:
men=pd.read_csv("Indian-Male-Names.csv")
female=pd.read_csv("Indian-Female-Names.csv")

In [4]:
men.head()

              name gender    race
0          barjraj      m  indian
1     ramdin verma      m  indian
2  sharat chandran      m  indian
3  birender mandal      m  indian
4             amit      m  indian

In [5]:
men.shape,female.shape

((14845, 3), (15382, 3))

In [6]:
total=[]

In [7]:
total=men[:]

In [8]:
total=total.append(female[:])

In [9]:
total.shape

(30227, 3)

In [10]:
total.head()

              name gender    race
0          barjraj      m  indian
1     ramdin verma      m  indian
2  sharat chandran      m  indian
3  birender mandal      m  indian
4             amit      m  indian

In [11]:
###   total.sample(frac=1).reindex(drop=True)    ## to suffle one method
total=shuffle(total)

In [12]:
total.reset_index(drop=True,inplace=True)

In [13]:
#total

In [14]:
X,y=total.iloc[:,0].values,total.iloc[:,1].values

In [15]:
RegexpTokenizer.tokenize

In [16]:
def fix_Plan(location):
    
    letters_only = re.sub(r"\^w+",  # Search for all non-letters
                          " ",          # Replace all non-letters with spaces
                          str(location))
    return letters_only

In [17]:
X_final=[]
for ind in X:
    X_final.append(fix_Plan(ind))

In [18]:
X

array(['sanjay', 'sushma', 'mamta', ..., 'reena', 'jeevan suyal',
       'rajesh patra'], dtype=object)

In [19]:
import string

In [20]:
lit=string.ascii_lowercase
vocab=dict(zip(lit,range(3,29)))

In [21]:
X_mod=[]
for mod in X_final:
    gen=[vocab[index] for index in mod.lower() if index in vocab]
    gen.insert(0,1)
    gen.append(2)
    X_mod.append(gen)

In [22]:
X_padded=sequence.pad_sequences(X_mod,maxlen=15)

In [23]:
X_padded.shape

(30227, 15)

In [24]:
y=LabelEncoder().fit_transform(y)

In [25]:
X_train, X_test, y_train, y_test = train_test_split(
...     X_padded, y, test_size=0.33, random_state=42)

In [26]:
y_train

array([1, 0, 0, ..., 0, 0, 0])

In [27]:
in_layer=Input(shape=(15,))
embad=Embedding(input_dim=29,output_dim=3)(in_layer)
rnn=SimpleRNN(units=60)(embad)
out=Dense(units=1,activation="sigmoid")(rnn)

In [28]:
model=Model(inputs=in_layer,outputs=out)

In [29]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 15)]              0
_________________________________________________________________
embedding (Embedding)        (None, 15, 3)             87
_________________________________________________________________
simple_rnn (SimpleRNN)       (None, 60)                3840
_________________________________________________________________
dense (Dense)                (None, 1)                 61
=================================================================
Total params: 3,988
Trainable params: 3,988
Non-trainable params: 0
_________________________________________________________________

In [30]:
model.compile(optimizer='rmsprop',
    loss="binary_crossentropy",
    metrics=["accuracy"])

In [31]:
model.fit(X_train,y_train,batch_size=1000,steps_per_epoch=10,epochs=10)

Train on 20252 samples
Epoch 1/10
10000/20252 [=============>................] - ETA: 3s - loss: 0.6726 - accuracy: 0.5880Epoch 2/10
 9000/20252 [============>.................] - ETA: 0s - loss: 0.6480 - accuracy: 0.6276Epoch 3/10
 8252/20252 [===========>..................] - ETA: 0s - loss: 0.6074 - accuracy: 0.6747Epoch 4/10
 9000/20252 [============>.................] - ETA: 0s - loss: 0.5742 - accuracy: 0.7118Epoch 5/10
 9252/20252 [============>.................] - ETA: 0s - loss: 0.5444 - accuracy: 0.7433Epoch 6/10
 9000/20252 [============>.................] - ETA: 0s - loss: 0.5216 - accuracy: 0.7519Epoch 7/10
 9252/20252 [============>.................] - ETA: 0s - loss: 0.5145 - accuracy: 0.7528Epoch 8/10
 9000/20252 [============>.................] - ETA: 0s - loss: 0.4927 - accuracy: 0.7690Epoch 9/10
 8252/20252 [===========>..................] - ETA: 0s - loss: 0.4923 - accuracy: 0.7659Epoch 10/10
10000/20252 [=============>................] - ETA: 0s - loss: 0.4752 - accuracy: 0.7718

In [32]:
model.evaluate(X_test,y_test,verbose=0)

[0.47835352362845474, 0.76741856]

In [33]:
model.predict(X_test[:10])

array([[0.73217475],
       [0.5122572 ],
       [0.79652315],
       [0.27224988],
       [0.58739585],
       [0.09739108],
       [0.8707946 ],
       [0.7143213 ],
       [0.83017164],
       [0.11906674]], dtype=float32)

In [34]:
y_test

array([1, 0, 1, ..., 1, 1, 0])

In [59]:
name="emilia"

letters_only = re.sub(r'\d+' , # Search for all non-letters
                          "",          # Replace all non-letters with spaces
                          str(name))

#tokenizer = RegexpTokenizer(r'\w+')
#tokenizer.tokenize(name)

gen=[vocab[index] for index in name.lower() if index in vocab]
gen.insert(0,1)
gen.append(2)
f_name=gen

f_name

f_name=sequence.pad_sequences([f_name],maxlen=15)

model.predict(f_name)

array([[0.42920178]], dtype=float32)

IMP

In [198]:
r"\^w+"   ### used to remove puntaution
r'\d+'     ## used for remove number

'\\d+'