In [55]:
import pandas as pd
import numpy as np

In [56]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score

In [57]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [60]:
data=pd.read_csv("Diabetes_Xtrain.csv")

In [61]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,180,90,26,90,36.5,0.314,35
1,2,93,64,32,160,38.0,0.674,23
2,2,114,68,22,0,28.7,0.092,25
3,13,76,60,0,0,32.8,0.180,41
4,1,80,74,11,60,30.0,0.527,22

In [62]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,192.000000,192.000000,192.000000,192.000000,192.000000,192.000000,192.000000,192.000000
mean,4.104167,123.651042,69.942708,21.052083,90.697917,32.398437,0.442948,34.098958
std,3.485134,33.245684,16.269068,16.156868,131.451830,7.083182,0.313054,11.386388
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.085000,21.000000
25%,1.000000,101.500000,64.000000,0.000000,0.000000,28.175000,0.207000,25.000000
50%,3.000000,120.000000,72.000000,25.500000,9.000000,32.400000,0.346500,30.000000
75%,6.250000,145.250000,78.500000,32.000000,140.500000,36.150000,0.570500,41.000000
max,15.000000,198.000000,108.000000,99.000000,846.000000,52.300000,1.893000,69.000000

In [63]:
data_c=data.copy(deep=True)

In [64]:
data_c[["Glucose","BloodPressure","SkinThickness","Insulin","BMI"]]=data[["Glucose","BloodPressure","SkinThickness","Insulin","BMI"]].replace(0,np.NaN)

In [65]:
data_c.isna().sum()

Pregnancies                  0
Glucose                      2
BloodPressure                6
SkinThickness               56
Insulin                     96
BMI                          2
DiabetesPedigreeFunction     0
Age                          0
dtype: int64

In [66]:
data_c["Glucose"].fillna(data_c["Glucose"].mean(),inplace=True)

In [67]:
data_c["BloodPressure"].fillna(data_c["BloodPressure"].mean(),inplace=True)
data_c["SkinThickness"].fillna(data_c["SkinThickness"].mean(),inplace=True)
data_c["Insulin"].fillna(data_c["Insulin"].mean(),inplace=True)
data_c["BMI"].fillna(data_c["BMI"].mean(),inplace=True)

In [68]:
data_c.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,192.000000,192.000000,192.000000,192.000000,192.000000,192.000000,192.000000,192.000000
mean,4.104167,124.952632,72.198925,29.720588,181.395833,32.739474,0.442948,34.098958
std,3.485134,30.716281,10.298081,8.809022,94.923142,6.250166,0.313054,11.386388
min,0.000000,62.000000,44.000000,7.000000,18.000000,21.000000,0.085000,21.000000
25%,1.000000,103.000000,64.000000,27.000000,141.500000,28.375000,0.207000,25.000000
50%,3.000000,122.000000,72.000000,29.720588,181.395833,32.400000,0.346500,30.000000
75%,6.250000,145.250000,78.500000,32.000000,181.395833,36.150000,0.570500,41.000000
max,15.000000,198.000000,108.000000,99.000000,846.000000,52.300000,1.893000,69.000000

In [69]:
data_c.shape

(192, 8)

In [96]:
X=data_c[:]
y=pd.read_csv("Diabetes_YTrain.csv")[:192]

In [97]:
X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)

In [98]:
X_train.shape,y_train.shape

((128, 8), (128, 1))

In [99]:
model=KNeighborsClassifier(n_neighbors=11)

In [101]:
model.fit(X_train,y_train)

C:\Users\Naman\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=11, p=2,
                     weights='uniform')

In [102]:
y_p=model.predict(X_test[:10])

array([1, 0, 1, 0, 0, 1, 1, 0, 0, 0], dtype=int64)

In [103]:
y_test[:10]

     Outcome
45         0
136        0
76         0
143        0
113        0
177        0
15         0
18         0
16         1
9          0

In [104]:
model.score(X_test,y_test)

0.5625

In [105]:
cm=confusion_matrix(y_test,model.predict(X_test))

In [106]:
print(cm)

[[33  8]
 [20  3]]

In [107]:
f1_score(y_test,model.predict(X_test))

0.1764705882352941

In [108]:
accuracy_score(y_test,model.predict(X_test))

0.5625