In [32]:
import pandas as pd
import numpy as np

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
X=pd.read_csv("Logistic_X_Train.csv")

In [35]:
X.head()

         f1        f2        f3
0 -1.239375  0.749101 -0.528515
1 -1.036070  0.801436 -1.283712
2 -0.615579  1.579521 -1.391927
3  1.335978  1.348651  1.433564
4  0.658925  1.300019  0.571603

In [5]:
y=pd.read_csv("Logistic_Y_Train.csv")

In [6]:
y.head()

   label
0      1
1      1
2      1
3      0
4      0

In [7]:
X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
model=LogisticRegression()

In [19]:
model.fit(X_train,y_train)

C:\Users\Naman\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Naman\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [20]:
model.predict(X_test[:10])

array([1, 0, 1, 1, 1, 1, 0, 0, 1, 1], dtype=int64)

In [21]:
y_test[:10]

      label
1801      1
1190      0
1817      1
251       1
2505      1
1117      1
1411      0
2113      0
408       1
2579      1

In [22]:
model.score(X_test,y_test)

0.9939393939393939

In [23]:
### by picking nrml files

In [24]:
X_train=pd.read_csv("Logistic_X_Train.csv")

In [25]:
y_train=pd.read_csv("Logistic_Y_Train.csv")

In [26]:
model.fit(X_train,y_train)

C:\Users\Naman\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Naman\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [28]:
X_test=pd.read_csv("Logistic_X_Test.csv")

In [30]:
y_test=model.predict(X_test)

In [31]:
model.score(X_test,y_test)

1.0