In [1]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [2]:
data=pd.read_csv("../datasets/titanic/train.csv")

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
final=data.drop(["PassengerId","Name","Ticket","Fare","Cabin","Embarked"],axis=1)

In [5]:
final.head()

   Survived  Pclass     Sex   Age  SibSp  Parch
0         0       3    male  22.0      1      0
1         1       1  female  38.0      1      0
2         1       3  female  26.0      0      0
3         1       1  female  35.0      1      0
4         0       3    male  35.0      0      0

In [6]:
final["Sex"]=LabelEncoder().fit_transform(final["Sex"])

In [7]:
final.head()

   Survived  Pclass  Sex   Age  SibSp  Parch
0         0       3    1  22.0      1      0
1         1       1    0  38.0      1      0
2         1       3    0  26.0      0      0
3         1       1    0  35.0      1      0
4         0       3    1  35.0      0      0

In [8]:
final.describe()

         Survived      Pclass         Sex         Age       SibSp       Parch
count  891.000000  891.000000  891.000000  714.000000  891.000000  891.000000
mean     0.383838    2.308642    0.647587   29.699118    0.523008    0.381594
std      0.486592    0.836071    0.477990   14.526497    1.102743    0.806057
min      0.000000    1.000000    0.000000    0.420000    0.000000    0.000000
25%      0.000000    2.000000    0.000000   20.125000    0.000000    0.000000
50%      0.000000    3.000000    1.000000   28.000000    0.000000    0.000000
75%      1.000000    3.000000    1.000000   38.000000    1.000000    0.000000
max      1.000000    3.000000    1.000000   80.000000    8.000000    6.000000

In [9]:
processed=final.dropna()

In [10]:
processed.shape

(714, 6)

In [11]:
processed1=processed.groupby(["Pclass","Sex"]).mean()[["Age"]].reset_index()

In [12]:
processed1

   Pclass  Sex        Age
0       1    0  34.611765
1       1    1  41.281386
2       2    0  28.722973
3       2    1  30.740707
4       3    0  21.750000
5       3    1  26.507589

In [13]:
unprocessed=final.loc[final["Age"].isna()]

In [14]:
unprocessed.head()

    Survived  Pclass  Sex  Age  SibSp  Parch
5          0       3    1  NaN      0      0
17         1       2    1  NaN      0      0
19         1       3    0  NaN      0      0
26         0       3    1  NaN      0      0
28         1       3    0  NaN      0      0

In [15]:
def agefill(row):
    row["Age"]=processed1.loc[(row["Pclass"]==processed1["Pclass"])&(row["Sex"]==processed1["Sex"])].describe().loc["mean","Age"]
    return row

In [16]:
processed3=unprocessed.apply(agefill,axis=1)

In [17]:
processed3.head()

    Survived  Pclass  Sex        Age  SibSp  Parch
5        0.0     3.0  1.0  26.507589    0.0    0.0
17       1.0     2.0  1.0  30.740707    0.0    0.0
19       1.0     3.0  0.0  21.750000    0.0    0.0
26       0.0     3.0  1.0  26.507589    0.0    0.0
28       1.0     3.0  0.0  21.750000    0.0    0.0

In [18]:
final1=pd.concat([processed,processed3])

In [19]:
final1.head()

   Survived  Pclass  Sex   Age  SibSp  Parch
0       0.0     3.0  1.0  22.0    1.0    0.0
1       1.0     1.0  0.0  38.0    1.0    0.0
2       1.0     3.0  0.0  26.0    0.0    0.0
3       1.0     1.0  0.0  35.0    1.0    0.0
4       0.0     3.0  1.0  35.0    0.0    0.0

In [20]:
X=final1.iloc[:,1:]
y=final1.iloc[:,0]

In [21]:
model=DecisionTreeClassifier()

In [22]:
model.fit(X,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [23]:
model.score(X,y)

0.920314253647587

In [24]:
def entropy(data):
    m=len(data)
    val,count=np.unique(data,return_counts=True)
    p=count/m
    return np.sum(-p*np.log(p))

In [25]:
def info_gain(X,y,label):
    x_col=X[label]
    pivot=np.mean(x_col)
    
    left  = x_col<pivot
    right = x_col>=pivot
 
    y_left,y_right=y.loc[left],y.loc[right]
    
    ent=entropy(y)
    ent_l=entropy(y_left)
    ent_r=entropy(y_right)
    
    prob_l=len(y_left)/len(y)
    prob_r=1-prob_l
    
    return ent  -prob_l*ent_l -prob_r*ent_r

In [26]:
for col in X.columns:
    print(col,info_gain(X,y,col))

Pclass 0.05253613916173083
Sex 0.15087048925218172
Age 0.0007663481843047659
SibSp 0.006643498134917131
Parch 0.010661126611803073

In [27]:
class Node:
    def __init__(self,label=None,pivot=None,result=None):
        self.label=label
        self.pivot=pivot
        self.result=result
        
        self.left=None
        self.right=None
        
        
    def __repr__(self):
        
        if self.label == None:
            return str(self.result > .5)
        else:
            return str(self.label + " : " + str(self.pivot))

In [52]:
class coutom:
    
    def __init__(self,maxiter=10):
        self.maxiter=maxiter
    
    def fit(self,X,y):
        self.root=self.rec_fit(X,y,maxx=self.maxiter)
        
    def rec_fit(self,X,y,maxx):
        if maxx ==0:
            return Node(result=y.mean())
        
        gains=[]
        
        for col in X.columns:
            gains.append((info_gain(X,y,col),col))
        
        selected_gain,selected_col=sorted(gains)[-1]
        
        if selected_gain<=0:
            return Node(result=y.mean())
            
        pivot=X[selected_col].mean()
        
        left=X[selected_col]<pivot
        right=X[selected_col]>=pivot
        
        X_left , X_right = X.loc[left],X.loc[right]
        y_left ,y_right =y.loc[left] ,y.loc[right]
        
        node=Node(label=selected_col,pivot=pivot)
        
        node.left=self.rec_fit(X_left,y_left,maxx-1)
        node.right=self.rec_fit(X_right,y_right,maxx-1)
        
        return node
    
    def display(self):
        self.display_rec(self.root)
        
    def display_rec(self, node, indent=""):
        if node == None:
            return
        
        print(indent, node)
        self.display_rec(node.left, indent + "\t")
        self.display_rec(node.right, indent + "\t")
        
    def predicted_point(self,row):
        self.predicted_rec(self.root,row)
        
    def predicted_rec(self,node,row):
        if node.label==None:
            return
        print(row[node.label])
        if row[node.label]<node.pivot:
            return self.predicted_rec(node.left,row)
        else:
            return self.predicted_rec(node.right,row)
        
    def predicted(self,X):
        err=[]
        for index,row in X.iterrows():
            err.append(self.predicted_point(row))
        return (np.array(err) >= .5).astype(int)

In [53]:
a=coutom()

In [54]:
a.fit(X,y)

In [55]:
a.display()

 Sex : 0.6475869809203143
	 Pclass : 2.159235668789809
		 Pclass : 1.4470588235294117
			 Parch : 0.4574468085106383
				 Age : 36.07647058823528
					 True
					 Age : 49.08695652173913
						 True
						 SibSp : 0.7272727272727273
							 Age : 57.0
								 False
								 True
							 True
				 Parch : 1.4333333333333333
					 True
					 SibSp : 1.0769230769230769
						 SibSp : 0.4444444444444444
							 True
							 False
						 True
			 Parch : 0.6052631578947368
				 Age : 31.909909909909906
					 SibSp : 0.46153846153846156
						 Age : 25.15287162162162
							 Age : 20.714285714285715
								 True
								 Age : 23.0
									 True
									 Age : 23.666666666666668
										 True
										 False
							 True
						 Age : 25.5
							 True
							 Age : 28.285714285714285
								 Age : 27.5
									 False
									 True
								 True
					 Age : 40.973684210526315
						 Age : 35.77272727272727
							 True
							 Age : 37.666666666666664
								 True
								 Age : 39.333333333333336
									 False
									 True
						 SibSp : 0.25
							 Age : 49.833333333333336
								 True
								 Age : 53.0
									 True
									 Age : 56.0
										 True
										 False
							 Age : 43.0
								 True
								 False
				 Age : 24.096774193548388
					 True
					 Age : 37.07142857142857
						 Age : 30.125
							 Age : 25.333333333333332
								 True
								 False
							 True
						 True
		 Parch : 0.7986111111111112
			 Age : 23.191176470588236
				 SibSp : 0.30158730158730157
					 Age : 20.01086956521739
						 Age : 15.857142857142858
							 Age : 12.4
								 True
								 Age : 14.25
									 Age : 13.5
										 True
										 False
									 True
							 Age : 17.77777777777778
								 Age : 16.333333333333332
									 True
									 False
								 False
						 Age : 21.828125
							 Age : 21.6875
								 False
								 True
							 Age : 22.25
								 True
								 False
					 Age : 19.720588235294116
						 SibSp : 1.1666666666666667
							 Age : 16.1
								 Age : 14.5
									 True
									 Age : 14.75
										 False
										 True
								 Age : 18.5
									 False
									 True
							 False
						 Age : 21.522727272727273
							 False
							 SibSp : 1.1111111111111112
								 True
								 True
				 SibSp : 0.45454545454545453
					 Age : 32.392857142857146
						 Age : 28.045454545454547
							 Age : 26.0
								 False
								 Age : 26.75
									 True
									 Age : 27.5
										 True
										 False
							 Age : 30.5
								 False
								 Age : 30.833333333333332
									 False
									 False
						 Age : 48.333333333333336
							 False
							 True
					 SibSp : 1.25
						 Age : 32.714285714285715
							 Age : 26.5
								 Age : 25.0
									 True
									 False
								 False
							 Age : 41.0
								 Age : 38.0
									 True
									 False
								 False
						 True
			 SibSp : 1.694915254237288
				 Age : 24.47972972972973
					 Parch : 1.5555555555555556
						 Age : 8.86111111111111
							 SibSp : 0.4
								 Age : 2.6666666666666665
									 False
									 True
								 True
							 Age : 16.6875
								 False
								 SibSp : 0.3333333333333333
									 False
									 True
						 SibSp : 0.1111111111111111
							 Parch : 2.125
								 Age : 14.892857142857142
									 Age : 5.0
										 True
										 False
									 Age : 22.3125
										 False
										 True
								 True
							 False
					 Age : 35.578947368421055
						 SibSp : 0.6
							 Parch : 2.25
								 True
								 False
							 Age : 30.833333333333332
								 False
								 Age : 32.666666666666664
									 Age : 31.5
										 True
										 False
									 True
						 SibSp : 0.5555555555555556
							 False
							 Age : 42.6
								 Age : 38.5
									 True
									 False
								 False
				 Parch : 1.6363636363636365
					 SibSp : 2.625
						 True
						 False
					 SibSp : 4.5
						 SibSp : 3.4
							 False
							 False
						 False
	 Pclass : 2.389948006932409
		 Pclass : 1.4695652173913043
			 Age : 41.281386138613875
				 Parch : 0.2916666666666667
					 Age : 34.826019119153315
						 Age : 27.47826086956522
							 Age : 24.0
								 False
								 Age : 25.857142857142858
									 SibSp : 0.6666666666666666
										 False
										 True
									 True
							 Age : 30.153846153846153
								 Age : 28.571428571428573
									 SibSp : 0.25
										 True
										 False
									 False
								 Age : 32.0
									 SibSp : 0.6666666666666666
										 False
										 False
									 Age : 33.0
										 True
										 False
						 Age : 39.6545459688826
							 Age : 36.45454545454545
								 SibSp : 0.14285714285714285
									 Age : 35.5
										 True
										 True
									 False
								 SibSp : 0.5
									 False
									 Age : 37.5
										 False
										 True
							 Age : 41.121212871287106
								 False
								 False
					 SibSp : 0.5
						 Age : 25.22222222222222
							 Parch : 1.4
								 Age : 22.666666666666668
									 False
									 Age : 23.5
										 True
										 False
								 True
							 Parch : 1.25
								 Age : 37.0
									 True
									 False
								 False
						 SibSp : 1.4
							 True
							 False
				 Age : 53.71
					 Age : 47.232142857142854
						 Age : 45.03333333333333
							 Age : 43.75
								 SibSp : 0.6666666666666666
									 True
									 False
								 SibSp : 0.6
									 False
									 False
							 False
						 Parch : 0.23076923076923078
							 Age : 49.5
								 True
								 SibSp : 0.8
									 True
									 SibSp : 1.3333333333333333
										 False
										 True
							 False
					 SibSp : 0.13636363636363635
						 Parch : 0.21052631578947367
							 Age : 62.0
								 Age : 57.44444444444444
									 Age : 55.4
										 False
										 False
									 False
								 Age : 67.85714285714286
									 False
									 Age : 74.0
										 False
										 True
							 False
						 Parch : 2.0
							 Age : 65.0
								 True
								 False
							 False
			 Parch : 0.2222222222222222
				 SibSp : 0.2247191011235955
					 Age : 33.50925505050507
						 Age : 25.859252525252522
							 Age : 21.0
								 Age : 17.88888888888889
									 False
									 Age : 18.428571428571427
										 False
										 False
								 False
							 Age : 29.746654545454557
								 False
								 Age : 30.803903743315505
									 Age : 30.512797202797195
										 False
										 False
									 Age : 31.75
										 False
										 False
						 Age : 46.25925925925926
							 Age : 37.642857142857146
								 Age : 35.0
									 False
									 False
								 Age : 41.166666666666664
									 False
									 Age : 43.333333333333336
										 False
										 False
							 Age : 55.53846153846154
								 False
								 Age : 62.8
									 Age : 59.333333333333336
										 False
										 True
									 False
					 Age : 32.61764705882353
						 Age : 27.55
							 False
							 Age : 30.75
								 False
								 SibSp : 1.3333333333333333
									 Age : 32.25
										 True
										 False
									 False
						 False
				 Age : 18.57
					 True
					 False
		 Parch : 0.22478386167146974
			 Age : 28.14578597372075
				 SibSp : 0.15458937198067632
					 Age : 23.848532308431434
						 Age : 19.840579710144926
							 Age : 17.666666666666668
								 Age : 15.9
									 False
									 Age : 16.444444444444443
										 False
										 False
								 Age : 18.705882352941178
									 False
									 False
							 Age : 21.238095238095237
								 Age : 20.54
									 Age : 20.041666666666668
										 False
										 False
									 False
								 Age : 22.264705882352942
									 False
									 False
						 Age : 26.31771739130437
							 Age : 24.97826086956522
								 Age : 24.0625
									 False
									 False
								 Age : 25.466666666666665
									 False
									 False
							 Age : 26.66386907669763
								 False
								 Age : 27.666666666666668
									 True
									 False
					 Age : 24.1372423228945
						 SibSp : 1.25
							 False
							 False
						 SibSp : 1.2222222222222223
							 Age : 26.253794466403154
								 Age : 25.4
									 False
									 False
								 False
							 Age : 26.753794466403164
								 Age : 26.338392621870884
									 False
									 False
								 False
				 SibSp : 0.0898876404494382
					 Age : 38.33734939759036
						 Age : 32.254901960784316
							 Age : 30.45
								 Age : 29.375
									 Age : 28.88888888888889
										 False
										 False
									 False
								 Age : 31.678571428571427
									 Age : 30.875
										 False
										 False
									 False
							 False
						 Age : 48.03125
							 Age : 42.857142857142854
								 Age : 40.45
									 Age : 39.4
										 False
										 False
									 False
								 Age : 45.04545454545455
									 Age : 44.0
										 False
										 False
									 False
							 False
					 False
			 SibSp : 2.607843137254902
				 Age : 22.46084321475626
					 Age : 10.887142857142857
						 True
						 Age : 17.142857142857142
							 False
							 Age : 18.666666666666668
								 False
								 True
					 Age : 34.92482821526299
						 Parch : 1.3333333333333333
							 Age : 30.003794466403164
								 True
								 False
							 False
						 False
				 Parch : 1.5416666666666667
					 False
					 Age : 13.156181210094255
						 Age : 6.375
							 SibSp : 4.0
								 False
								 SibSp : 4.333333333333333
									 Age : 3.5
										 True
										 False
									 False
							 False
						 False

In [56]:
a.predicted(X[:5])

1.0
3.0
0.0
22.0
1.0
22.0
1.0
0.0
1.0
1.0
0.0
38.0
38.0
0.0
3.0
0.0
26.0
0.0
26.0
26.0
26.0
26.0
0.0
1.0
1.0
0.0
35.0
1.0
3.0
0.0
35.0
0.0
35.0
35.0

TypeError: '>=' not supported between instances of 'NoneType' and 'float'