In [1]:
line="welcome to CB"               #iterable

In [3]:
for item in line:
    print(item)

w
e
l
c
o
m
e

t
o

C
B

In [7]:
line

'l'

In [6]:
i=0
                     ##### hemce it is indexable
while(i<len(line)):
    print(line[i])
    i+=1

w
e
l
c
o
m
e

t
o

C
B

In [8]:
r=range(10,20,2)    #####starting ,ending ,steps

In [9]:
list(r)

[10, 12, 14, 16, 18]

In [10]:
li=[700,800]

In [11]:
li

[700, 800]

In [12]:
cop=li.copy()

In [13]:
cop

[700, 800]

In [14]:
cop[0]==li[0]

True

In [15]:
cop[0]=400

In [16]:
cop

[400, 800]

In [17]:
cop[0]==li[0]

False

In [18]:
lii=[[1,2],[2,5,3]]

In [19]:
a=lii.copy()

In [20]:
a

[[1, 2], [2, 5, 3]]

In [22]:
lii.append(23)

In [23]:
lii

[[1, 2], [2, 5, 3], 23]

In [24]:
lii==a

False

In [25]:
a

[[1, 2], [2, 5, 3]]

##tuple

>immutable,
>iterable,
>indexable

In [26]:
[1,4,6]  + [1,9,430]

[1, 4, 6, 1, 9, 430]

In [27]:
####or
a=[1,5,3]
b=[5,34,5]
c=a+b

In [28]:
c

[1, 5, 3, 5, 34, 5]

In [30]:
a=(1,5,3)
b=(5,34,5)
a+b

(1, 5, 3, 5, 34, 5)

In [31]:
b=tuple(range(10))

In [32]:
b

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [33]:
tup=([55,56],[53,546])
tup[0].append(100)

In [34]:
tup

([55, 56, 100], [53, 546])

In [35]:
1,  2,                        #tuple

(1, 2)

In [37]:
1,

(1,)

In [38]:
###swap
a=88
b=77

In [39]:
a,b=b,a      ###first it make tuple then assasign value

In [40]:
a

77

In [41]:
b

88

In [ ]:
[a,b]=(10,20)    #tuple

In [42]:
a

77

In [43]:
[a,b]=range(2)

In [44]:
a

0

In [45]:
b

1