In [6]:
from nltk.corpus import stopwords
from nltk.tokenize import line_tokenize ,word_tokenize,sent_tokenize

In [29]:
casual="Hello mr. my name is naman , My name is naman . kartik and ankush"

In [30]:
word_tokenize(casual,language="french")

['Hello',
 'mr',
 '.',
 'my',
 'name',
 'is',
 'naman',
 ',',
 'My',
 'name',
 'is',
 'naman',
 '.',
 'kartik',
 'and',
 'ankush']

In [31]:
word_tokenize(casual,language="english")

['Hello',
 'mr.',
 'my',
 'name',
 'is',
 'naman',
 ',',
 'My',
 'name',
 'is',
 'naman',
 '.',
 'kartik',
 'and',
 'ankush']

In [32]:
sent_tokenize(casual)

['Hello mr. my name is naman , My name is naman .', 'kartik and ankush']

In [33]:
line_tokenize(casual)

['Hello mr. my name is naman , My name is naman . kartik and ankush']